main{
    width: 1200px;
    margin: auto;
    background-color: rgb(230, 147, 24);
    
}
header{
    background-color: coral;

}
article{
    background-color: cornflowerblue;
    width: 70%;
    float: left;

}

footer{
    background-color: rgb(235, 20, 20);
}

nav{
    width: 30%;
    float: left;
}
