.grid {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 2fr 1fr;
    grid-template-areas:"head head" "menu contenido" "foot foot" ;

}

.a{
    grid-area: head;
    background-color: dodgerblue;
}
.b{
    grid-area: menu;
    background-color: goldenrod;
}
.c{
    grid-area: contenido;
    background-color: greenyellow;
}
.d{
    grid-area: foot;
    background-color: rgb(224, 129, 19);
}

.a,
.b,
.c,
.d{
  border: 2px solid black;  
}


